# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PROPERTIES FILE WITH PARAMETERS
properties.ini
output/
input/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
myenv/
venv/
myenv/
ENV/
env.bak/
venv.bak/
.vscode/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# PyPI configuration file
.pypirc

# Eclipse files
.project
.pydevproject
.settings/
"original_code_data/bytecode/MainViewerGUI/buildSettingsMenu/buildSettingsMenu_conflict.csv" 
"original_code_data/bytecode/MainViewerGUI/buildSettingsMenu/buildSettingsMenu_conflict.csv" 
francis-docker/
original_code_data/MOEAFramework/
original_code_data/
results.csv 
bytecode_results.csv 
cybercaptor_results.csv 
"jedis_results.csv" 
jedis_results.csv 
bytecode_exp_results.csv 
resources 
knowage_results.csv 
original_code_data 
resultados/
ILP_data_from_refactoring_cache/adriana-docker/
fixed_results.csv
models/
ILP_data_from_refactoring_cache/dataset_refactoring_cache/
codigos_Ayesa_original_y_refactorizado
fastjson_results.csv 
nohup.out
queryexecution_results.csv
DOCKER_COMANDOS_epsilonConstraint_cc_loc.txt
DOCKER_COMANDOS_epsilonConstraint_extractions_cc.txt
DOCKER_COMANDOS_epsilonConstraint_extractions_loc.txt
DOCKER_COMANDOS_hybridMethod.txt
DOCKER_COMANDOS_hybridMethodForTwoObj.txt
DOCKER_COMANDOS_weightedSum.txt
DOCKER_COMANDOS_weightedSumForThreeObjs.txt
tres_casos_no_procesados/
tres_casos_no_procesados_extractions_objective_results.csv
DOCKER_COMANDOS_epsilonConstraint_Tres_Objetivos.txt
lanzar_docker_metodos.sh
bytecode_para_procesar/
bytecode_para_procesar_extractions_objective_results.csv/
bytecode_para_procesar_extractions_objective_results.csv
knowage_para_procesar_DatasetWizardTag/
knowage_para_procesar_DatasetWizardTag_extractions_objective_results.csv
knowage_para_procesar_LovWizardTag/
knowage_para_procesar_LovWizardTag_extractions_objective_results.csvAyesa_data/
Ayesa_lanzar_docker_metodos_sh
open-source_lanzar_docker_metodos.sh
Ayesa_data/
relacionado_con_tres_casos_no_procesados/
resultado.prof
Ayesa_lanzar_docker_metodos.sh
renamed_refactored_Ayesa_code/
results_scripts/LOC_and_CC_comparison.py
results_boxplots.py
MOILP_output.zip
cambiar_columna_results.sh
MOILP_output.zip
files.zip
original_code_data_new
original_code_data_new_extractions_results.csv
results_scripts/results_boxplots_ILPvsMOILP.py
results_scripts/execution_time_boxplots.py
results_scripts
metodos_muy_pesados_data/
